<h1>
    Random Play:
</h1>

<% if(score){ %>
	<div>
    	Successful answers = <span id="score"><%= score %></span>
	</div>
<% }else{ %>
	<div>
    	Successful answers = <span id="score">0</span>
	</div>
<% }%>

<% if(quiz){ %>
	
	<form method="get" action="/quizzes/randomcheck/<%= quiz.id %>">

	    <p>
	        Question: <b><%= quiz.question %></b>
	    </p>


	    <div class="wideRow">
	        <input type="text" class="itemWide" id="answer" name="answer" value="" placeholder="Answer" autocomplete="off"/>
	        <input type="submit" class="itemNarrow" id="send" value="Check">
	    </div>
	</form>

<% }%>